MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=kedra_wrc
MONGO_COLLECTION=landing_metadata
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=<your_minio_access_key>
MINIO_SECRET_KEY=<your_minio_secret_key>
MINIO_BUCKET_RAW=wrc-raw
MINIO_BUCKET_CURATED=wrc-curated
REQUEST_TIMEOUT_SECONDS=30
CONCURRENT_REQUESTS_PER_DOMAIN=4
DOWNLOAD_DELAY=1
AUTOTHROTTLE_START_DELAY=1
AUTOTHROTTLE_MAX_DELAY=10
AUTOTHROTTLE_TARGET_CONCURRENCY=2.0
RETRY_TIMES=3
WRC_START_DATE=01/01/2024
WRC_END_DATE=01/01/2025
WRC_BODIES=workplace_relations_commission,labour_court,equality_tribunal,employment_appeals_tribunal
PARTITION_SIZE=month